.header {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo__wrapper {
  margin-right: 10px;
}

.logo__link {
  transform: scale(1);
  transition: transform .4s ease-in-out;
  display: block;
  &:hover {
    transform: scale(1.02);
  }
}

.primaryNav__toggler {
  display: none;
  @media #{$tablet} {
    display: inline-block;
    outline: none;
    height: 30px;
    width: 40px;
    position: relative;
    &.active {
      .primaryNav__toggler-bar {
        &.bar-1 {
          opacity: 0;
        }
        &.bar-2 {
          transform: translateY(-1px) rotate(45deg);
        }
        &.bar-3 {
          transform: translateY(-16px) rotate(-45deg);
        }
      }
    }
  }

}

.primaryNav__toggler-bar {
  display: block;
  height: 3px;
  width: 40px;
  background-color: $blue;
  position: absolute;
  transition: transform .3s ease;
  &.bar-1 {
    top: 0;
    opacity: 1;
    transition: opacity .3s ease;
  }
  &.bar-2 {
    top: 50%;
    transform: translateY(0%) rotate(0deg);
  }
  &.bar-3 {
    top: 100%;
    transform: translateY(0%) rotate(0deg);
  }
}

.primaryNav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  
  @media #{$tablet} {
    display: none;
  }
  
  .menu-item {
    a {
      border-bottom: 1px solid transparent;
      transition: border-color .3s linear;
      text-decoration: none;
      color: $blue;
      font-family: $rubik;
      font-weight: normal;
      letter-spacing: 0.6px;
      display: block;
      &:hover {
        border-color: $blue;
      }
    } 
  }

  &.mobile {
    @media #{$tablet} {
      display: block;

      .menu-item {
        padding: 5px 0;
        a {
          display: block;
        }
      }
    }
  }
}

.header__login {
  text-decoration: none;
  vertical-align: bottom;
  position: relative;
  padding-left: 40px;
  svg {
    position: absolute;
    left: 15px;
    top: 13px;
    color: $blue;
    transition: color 0.3s ease;
  } 
  &:hover svg {
    color: $white;
  }
  &.mobile {
    margin-top: 5px;
    margin-bottom: 5px;
    @media #{$tablet} {
      display: none;
    }
    @media #{$phone} {
      display: block;
    }
  }
}

.header__login-text {
  font-family: $rubik;
  font-weight: normal;
}

.header__contact-button {
  margin-left: 5px;
  &.mobile {
    margin-left: 0;
    @media #{$tablet} {
      display: none;
    }
    @media #{$phone} {
      display: block;
    }
  }
}

.header__buttons{
  @media #{$tablet} {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
  }
  @media #{$phone} {
    display: none;
  } 
}

.primaryNav__mobile {
  background-color: $white;
  width: 100vw;
  height: auto;
  top: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateX(calc(100%));
  transition: transform .3s ease;
  padding: 25px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;

  &.active {
    transform: translateX(0);
  }
  @media #{$tablet} {
    display: flex;
  }
}