h1 {
  font-family: $rubik;
  font-weight: bold;
  color: $blue;
  font-size: 55px;
  letter-spacing: 1px;
}

h2 {
  font-family: $rubik;
  font-weight: normal;
  color: $blue;
  letter-spacing: 0.7px;
  font-size: 22px;
  line-height: 30px;
  margin-top: 10px;
}