.hero {
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 720px;
  @media #{$tablet} {
    min-height: fit-content;
  }
}

.hero__image-background {
  background-image: url('./images/hero.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  bottom: 0;

  @media #{$tablet} {
    width: 100%;
  }
}

.hero__content {
  padding-right: calc(50% + $site-gutter);
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  @media #{$tablet} {
    padding-right: $site-gutter;
    padding-top: 50px;
    padding-bottom: 250px;
  }
}

.hero__content-wrapper {
  position: relative;
  height: 100%;
  @media #{$tablet} {
    z-index: 2;
  }
}

.hero__pattern-background {
  background-image: url('./images/grid.png');
  background-repeat: repeat;
  background-size: auto;
  background-color: $light-blue; // not visible due to grid image not having transparency
  width: 100%;

  @media #{$tablet} {
    background-color: rgba($color: $light-blue, $alpha: 0.9);
    background-image: none; // could be same if it were transparent
    z-index: 1;
  }
}

.hero__cta-container {
  margin-top: 20px;
  @media #{$tablet} {
    margin-bottom: 60px;
  }
}

.hero__phone {
  display: inline-block;
  margin-left: 30px;

  @media #{$tablet} {
    margin-top: 20px;
  }
}

.hero__phone-link {
  color: $blue;
  font-weight: bold;
}

.hero__steps-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$tablet} {
    flex-direction: column;
    gap: 20px;
  }
}

.hero__circle {
  background-color: $white;
  border-radius: 50%;
  display: inline-block;
  width: 90px;
  height: 90px;
  position: relative;
  margin-left: 30px;
  @media #{$tablet} {
    margin-left: 0;

  }
}

.hero__arrow {
  position: absolute;
  top: -45px;
  left: -55px;

}

.hero__step {
  color: $green;
  font-family: $caveat;
  font-size: 22px;
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__step-number {
  color: $green;
  font-family: $caveat;
  font-size: 50px;
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(calc(-50% - 7px));
}

.hero__step-text {
  letter-spacing: 0.3px;
  width: 70%;
  @media #{$tablet} {
    width: 100%;
    text-align: center;
  }
}

.hero__step-link {
  color: $green;
  font-family: $rubik;
  font-weight: bold;
}